@import "tailwindcss";

:root {
  --primary-color: #BD5D38;
}

body {
  font-family: var(--font-muli), -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  padding-top: 54px;
  color: #868e96;
  background-color: white;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-saira), -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #343a40;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

.text-primary {
  color: var(--primary-color) !important;
}

.bg-primary {
  background-color: var(--primary-color) !important;
}

section.resume-section {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  background-color: white;
}

section.resume-section#about {
  position: relative;
  overflow: visible;
}

section.resume-section#about::before {
  content: '';
  position: absolute;
  top: 0;
  left: calc(-17rem);
  right: 0;
  bottom: 0;
  width: 100vw;
  background-image: url(/img/self-portrait.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
  z-index: 0;
}

section.resume-section#about > * {
  position: relative;
  z-index: 1;
}

@media (min-width: 992px) {
  section.resume-section#about::before {
    background-image: url(/img/self-portrait-large.png);
    background-position: right center;
    background-size: auto 100%;
    right: calc(-100vw + 100% + 17rem);
  }
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }
  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }
}

@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

.social-icons a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #495057;
  color: #fff !important;
  border-radius: 100%;
  text-align: center;
  font-size: 1.5rem;
  margin-right: 1rem;
  transition: all 0.3s;
}

.social-icons a svg {
  width: 1.5rem;
  height: 1.5rem;
}

.social-icons a:last-child {
  margin-right: 0;
}

.social-icons a:hover {
  background-color: var(--primary-color);
  transform: scale(1.1);
}

.dev-icons {
  font-size: 3rem;
}

.dev-icons svg {
  display: inline-block;
}
